:root {
  font-family: "Bitter", "Palatino Linotype", "Book Antiqua", Palatino, serif;

  background: linear-gradient(to bottom right, #495c7c, #9a5479);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  width: 100%;
  height: 100vh;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  padding: 0%;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: 0.75s;
}

.logo.tauri:hover {
  filter: drop-shadow(0 0 2em #24c8db);
}

.row {
  display: flex;
  justify-content: center;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

h1 {
  text-align: center;
}

#greet-input {
  margin-right: 5px;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #f6f6f6;
    background-color: #2f2f2f;
  }

  a:hover {
    color: #24c8db;
  }
}

.el-select {
  .el-select__wrapper {
    appearance: none;
    border: 0;
    outline: 0;
    font: inherit;
    background: transparent;
    cursor: pointer;
    border-radius: 0.4em;
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2) !important;
    .el-select__selected-item {
      color: rgba(255, 255, 255, 0.95);
    }
  }
  .el-select__input {
    color: rgba(255, 255, 255, 0.95);
  }
}
.el-select__popper {
  background: rgba(251, 176, 199, 0.3) !important;
  backdrop-filter: blur(10px);
  border: none !important;
  .el-select-dropdown__item {
    color: rgb(255, 255, 255);
    &.is-hovering {
      background: rgba(255, 255, 255, 0.3);
    }
    &.is-selected {
      background: rgba(255, 255, 255, 0.3);
      color: rgba(97, 66, 127, 0.9);
    }
  }
  .el-popper__arrow::before {
    background: rgba(251, 176, 199, 0.8) !important;
    backdrop-filter: blur(10px);
    border-color: transparent transparent rgba(251, 176, 199, 0.1) transparent !important;
  }
}

.setting-container {
  display: flex;
  justify-content: center;
  .el-form {
    padding: 2em 1em;
    .form-item__label {
      margin-right: 5px;
      color: rgba(244, 91, 91, 0.8);
    }
    .form-item {
      width: 200px;
      margin-left: auto;
    }
    .el-input__wrapper {
      background: transparent;
      border: none;
      border-radius: 0.4em;
      box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
      .el-input__inner {
        color: rgba(255, 255, 255, 0.95);
      }
    }
  }
}
